<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="display: flex;justify-content: center; align-content: center; align-items: center; flex-direction:column ;">
    
    <%- include('../partials/_navbar') %>
    
    <div><h1>Buy Now</h1></div>

    <div>
        <img style="width: 240px; height: 180px;" src="<%= carData.carImage %>" alt="Car Picture"><br>
        <h3><%= carData.title %></h3>
    </div>

    <div>
        <form action="http://localhost:3000/cars/buy/<%= carData.id %>" method="post">
            <input style="visibility: hidden;" type="number" name="UserId" value="<%= userData.id %>">
            <input style="visibility: hidden;" type="number" name="CarId" value="<%= carData.id %>"><br>

            <label for="totalAmount">Total After Tax Ammount</label><br>
            <input type="number" name="totalAmount" value="<%= carData.afterTax %>"><br><br>

            <label for="shippingAddress">Shipping Address</label><br>
            <input type="text" name="shippingAddress" value="<%= userData.UserProfile.address %>"><br><br>

            <label for="paymentMethod">Payment Method</label><br>
            <select name="paymentMethod">
                <option value="" selected disabled>--Select Payment Method--</option>
                <option value="Cash">Cash</option>
                <option value="Credit">Credit</option>
            </select><br><br>

            <button type="submit">Buy Car</button>
        </form>
    </div>


    
</body>
</html>