<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="display: flex;justify-content: center; align-content: center; align-items: center; flex-direction:column ;">
    
    <%- include('../partials/_navbar') %>
    
    <div><h1>Car List</h1></div>

    <% if (role === "admin") { %>
        <a href="http://localhost:3000/cars/add"><button>Add New Car</button></a><br>
       <% } %>

    <div>
        <table border="2" style="text-align: center;">
            <thead>
                <th>Photo</th>
                <th>Title</th>
                <th>Transmission</th>
                <th>Stock</th>
                <th>Price</th>
                <th>Description</th>
                <th>Actions</th>
            </thead>
            
            <% data.forEach(el => { %>
                <tbody>
                    <td><img style="width: 80px; height: 50px;" src="<%= el.carImage %>" alt="Car Picture"></td>
                    <td><%= el.title %></td>
                    <td><%= el.transmission %></td>
                    <td><%= numberWithCommas(el.stock) %> units</td>
                    <td><%= toRupiah(el.price) %></td>
                    <td><%= el.description %></td>
                    <td>
                        <a href=""><button>Buy</button></a>
                        <% if (role === "admin") { %>
                         <a href="http://localhost:3000/cars/edit/<%= el.id %>"><button>Edit</button></a>
                         <a href="http://localhost:3000/cars/delete/<%= el.id %>"><button>Delete</button></a>
                        <% } %>
                    </td>
                </tbody>
                <% }) %>
        </table>
    </div>
    
</body>
</html>